{% extends 'website/base.html' %}

{% block content %}

<div class="container py-4 mt-4 mb-4">
    <div class="text-center text-primary">
        <h3>Eframe is basically an open source application built with an intention to providing information related to email address such as existence of email address, its presence on different platform and verify it.</h3>
        <br>
        <br>
        <h4 class="text-secondary">It contains three module at the moment :</h4>
        <h5 class="text-secondary">Find email address using domain name </h5>
        <h5 class="text-secondary">Finding Online presence of email address</h5>
        <h5 class="text-secondary">Verify the email address (FAKE, OR TRASH ONE )</h5>
    </div>
</div>

{% endblock content %}


