{% extends 'website/base.html' %}

{% block content %}

<div class="container py-4 mt-4 mb-4">
    <div class="text-center mb-2">
        <h3 class="">Eframe at the moment contains data related to 78 organization.</h3>
    </div>
    <div>
        <table class="table">
            <tbody>
              <tr>
                <th scope="row"><img src="https://logo.clearbit.com/walmart.com" alt=""></th>
                <th scope="row"><img src="https://logo.clearbit.com/westernunion.com" alt=""></th>      
                <th scope="row"><img src="https://logo.clearbit.com/westernsouthern.com" alt=""></th>      
                <th scope="row"><img src="https://logo.clearbit.com/wellsfargo.com" alt=""></th>      
              </tr>
              <tr>
                <th scope="row"><img src="https://logo.clearbit.com/walgreensbootsalliance.com" alt=""></th>
                <th scope="row"><img src="https://logo.clearbit.com/vistraenergy.com" alt=""></th>      
                <th scope="row"><img src="https://logo.clearbit.com/verizon.com" alt=""></th>      
                <th scope="row"><img src="https://logo.clearbit.com/valero.com" alt=""></th>      
              
              </tr>
              <tr>
                <th scope="row"><img src="https://logo.clearbit.com/utc.com" alt=""></th>
                <th scope="row"><img src="https://logo.clearbit.com/usaa.com" alt=""></th>      
                <th scope="row"><img src="https://logo.clearbit.com/ups.com" alt=""></th>      
                <th scope="row"><img src="https://logo.clearbit.com/pxd.com" alt=""></th>      
              
              </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock content %}


