{% extends 'website/base.html' %}

{% block content %}

<div class="container-fluid px-4 mt-4 mb-4 text-center">
    <img src="static/emailosint.jpg"  alt="">

    <div class="row py-4">
        <div class="col">
            <img src="https://logo.clearbit.com/hunter.io" alt="">
            <h3>Hunter.io</h3>
        </div>
        <div class="col">
            <img src="https://logo.clearbit.com/binaryedge.io" alt="">
            <h3>Binaryedge</h3>
        </div>
        <div class="col">
            <img src="https://logo.clearbit.com/shodan.io" alt="">
            <h3>Shodan</h3>
        </div>
        <div class="col">
            <img src="https://logo.clearbit.com/securitytrails.com" alt="">
            <h3>Securitytrails</h3>
        </div>
    </div>
</div>


{% endblock content %}